
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #0a192f;
  color: #ccd6f6;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

a {
  color: #64ffda;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}

header.intro {
  background-color: #112240;
  padding: 2rem;
  text-align: center;
}

.roles, .student {
  color: #8892b0;
  margin-top: 0.5rem;
}

section {
  margin-top: 3rem;
}

h1, h2, h3 {
  color: #64ffda;
}

h4 {
  color: #64ffda;
}

.experience-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  margin-bottom: 2.5rem;
  align-items: start;
}

.exp-left {
  color: #8892b0;
}

.exp-left h3 {
  color: #ccd6f6;
  margin-bottom: 0.25rem;
}

.exp-left .company {
  font-weight: bold;
  color: #ffffff;
}

.exp-left .location-date {
  font-size: 0.9rem;
  line-height: 1.4;
}

.exp-right p {
  margin-top: 0;
}

table {
  width: 25%;
  border-collapse: collapse;
  margin-top: 1rem;
  font-size: 0.9rem;
}

table thead {
  background-color: #112240;
}

table th {
  color: #64ffda;
  width: 70%;
}

table td {
  color: #ffffff;
  border: 1px solid #233554;
  padding: 0.2rem;
  text-align: left;
  vertical-align: middle;
  width: 30%;
}

table td img {
  max-height: 32px;
  vertical-align: middle;
}


table.projects {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 1.5rem;
}

table.projects thead {
  border-bottom: 1px solid #233554;
}

table.projects th, table.projects td {
  padding: 0.75rem;
  border: 1px solid #233554;
  vertical-align: middle;
  text-align: left;
  color: #ccd6f6;
  border: none;
}

table.projects tbody tr {
  border-bottom: 1px solid #233554;
}

table.projects th {
  background-color: #112240;
  color: #64ffda;
}

.col-year {
  width: 10%;
  min-width: 60px;
}

.col-project {
  width: 50%;
}

.col-company {
  width: 20%;
}

.col-tech {
  width: 20%;
}

/* Estilo para las tecnologías tipo etiqueta */
.tech-tag {
  display: inline-block;
  background-color: rgba(100, 255, 218, 0.1);
  color: #64ffda;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  margin: 0.2rem;
  border-radius: 4px;
  font-family: monospace;
  white-space: nowrap;
}